body {
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: gray;
    color: white;
}

h2 {
    margin-left: 15px;
}

h4 {
    font-size: 20px;
}

.introductionContainer {
    background-color: aqua;
    display: flex;
}

.introduction {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.aboutMeContainer {
    background-color: aqua;
    display: flex;
}

.aboutMe {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.imageOfMe img {
    margin-top: 5px;
    width: 50%;
}

.separator {
    border: 3px solid red;
    background-color: red;
    color: white;
}

.projectsContainer {
    display: flex;
    background-color: aqua;
}

.projects {
    margin-left: 15px;
    margin-top: 15px;
}

.navigators {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.navigators svg {
    color: green;
    margin-left: 10px;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.links svg {
    margin-left: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: gray;
    color: white;
}

